@import '_top-nav.css';
@import '_slider.css';
@import '_shipping.css';
@import '_categories.css';
@import '_special-offers.css';
@import '_products.css';
@import '_banner-section-1.css';
@import '_footer.css';
@import '_product-firstsection.css';
@import '_product-tabsection.css';

@font-face {
  font-family: sahel-light;
  src: url(../fonts/Sahel-Light.eot) format(eot),
       url(../fonts/Sahel-Light.woff) format(woff),
       url(../fonts/Sahel-Light.woff2) format(woff2);
       font-weight: normal;
       font-style: normal;
}
*{
  font-family: sahel-light;
  font-weight: 900;
}
ul,li{
  list-style: none;
}
a{
  text-decoration: none;
  color: #fff !important;
}
@media (min-width: 1200px){
.container,
.container-lg,
.container-md,
.container-sm,
.container-xl{
    max-width: 1440px!important;
}
}
@media  screen and (max-width:991px){
  .custom-col-md-3{
  flex: 0 0 50%;
  max-width: 50%;
  }  
  .custom-col-md-6 {
      flex: 0 0 100%;
      max-width: 100%;
  }
  .custom-col-md-3 img{
    width: 100%;
  } 
   
}
@media screen and (max-width:991px){
  .custom-mt-3{
      margin-top: 1rem !important;
  }
}
body{
  background-color: rgb(235, 235, 235);
}
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
    display: block;
  }
  .owl-carousel .owl-nav{
    position: absolute;
    top: 100px;
    width: 100%;
    display: flex!important;
  }
  .owl-carousel .owl-nav .owl-next{
    position: absolute;
    left: 0;
  }
.owl-carousel .owl-nav .owl-next span,
.owl-carousel .owl-nav .owl-prev span{
    font-size: 66px;
    background-color: #fff;
    box-shadow: 0 0 3px 1px #bab9b9;
    display: block;
    width: 35px;
    border-radius: 50%;
  }
.owl-carousel .owl-nav .owl-next span:focus,
.owl-carousel .owl-nav .owl-prev span:focus,
.owl-carousel .owl-nav .owl-next:focus,
.owl-carousel .owl-nav .owl-prev:focus{
  outline: none;
}
.owl-carousel .owl-nav .owl-next span:hover,
.owl-carousel .owl-nav .owl-prev span:hover,
.owl-carousel .owl-nav .owl-next:hover,
.owl-carousel .owl-nav .owl-prev:hover{
  background-color: #fff;
  border-radius: 50%;
  color: #000;
}
.owl-carousel-brand .owl-nav{
  top: 60px;
}
@media  screen and (max-width:991px) and (min-width:768px){
  .custom-nav-md{
  flex: 0 0 52%;
  max-width: 52%;
  }
}
.zoom-mousemove {
  border: none !important  ;
}